<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>application.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.zaxxer.hikari"                     level="${LOGGER_HIKARI:-WARN}"/>
  <logger name="db"                                    level="${LOGGER_DATABASE:-INFO}" />
  <logger name="slick"                                 level="${LOGGER_SLICK:-WARN}" />
  <logger name="slick.session"                         level="${LOGGER_SLICK_SESSION:-WARN}" />
  <logger name="slick.jdbc.JdbcBackend.statement"      level="${LOGGER_SLICK_STATEMENT:-WARN}" />
  <logger name="slick.jdbc.StatementInvoker.result"    level="${LOGGER_SLICK_RESULT:-WARN}" />
  <logger name="slick.jdbc.JdbcBackend.benchmark"      level="${LOGGER_SLICK_BENCHMARK:-WARN}" />
  <logger name="slick.compiler.QueryCompilerBenchmark" level="${LOGGER_SLICK_QUERY_BENCHMARK:-WARN}" />

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
